
.container .new-tweet {
  visibility: visible;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 5px;
  width: 386px;
  height: 150px;
  background-color: #F0F0F0;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 20px;
  position: relative;
  top: 40px;
}

.container .new-tweet .errorMes {
  color: red;
  font-weight: bold;
  width: 380px;
  background-color: #ffb6c1;
  display: none;
  z-index: 5;
  position: absolute;
  height: 40px;
  margin: auto;
  top: -40px;
  padding-left: 15px;
  padding-top: 3px;
  border-radius: 10px;
}

.container .block1 {
  display: block;
  height: 1px;
  width: 360px;
  border-top: 2px solid;
  position: relative;
  top: 40px;
  left: 11px;
}

.container .counter {
  position: relative;
  bottom: 5px;
  left: 280px;
}

h2 {
  position: relative;
  top:-10px;
  padding-left: 13px;
}


textarea {
  padding-top: 5px;
  padding-left: 5px;
  width: 360px;
  position: relative;
  bottom: 5px;
  left: 11px;

}

input[type="submit"] {
  position: relative;
  left: 11px;
  bottom: 5px;
}