.tweetContainer {
  padding-top: 30px;
  margin-left: 32px;
}

.tweet {
  top:42px;
  margin-top:10px;
  min-height: 300px;
  width: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 5px;
  opacity: 0.7;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
  border: 0 solid lightgrey;
  border-bottom-width: 1px;
  padding-right: 10px;
}

.tweet figure {
  display: flex;
  margin: 0;
}

.logo {
  height: 50px;
  margin: 10px;
  width: 50px;
  border-radius: 5px;
}

.tweet figcaption {
  color: black;
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  align-items: flex-start;
}

.nameLink {
  align-items: flex-start;
  font-size: small;
  margin-top: 13px;
}

.tweetContent {
  word-wrap: break-word;
  white-space: normal;
  position: relative;
  padding: 10px;
  width: 382px;
}

.footer {
  display: flex;
  height: 53px;
  width: 382px;
  border-top: 2px solid #f2f2f2;
}

.timeInfo {
  float: left;
  color: grey;
  margin-top: 15px;
  margin-left: 10px;
}


article:hover {
  border-color: darkgrey;
  opacity: 1.2;

}

article:hover img{
  opacity: 1.2;

}

.flag {
  margin-top: 3px;
  position: absolute;
  right:  90px;
  opacity: 0;
}

.retweet {
  margin-top: 3px;
  position: absolute;
  right:  70px;
  opacity: 0;
}

.heart {
  margin-top: 3px;
  position: absolute;
  right:  50px;
  opacity: 0;
}



